# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Environment Variables & Secrets
.env
.env.*
*.env
*.keystore
*.jks
key.properties

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter / Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Android specific
android/**/gradle-app.setting.groovy
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS / macOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
xcuserdata/

# Web specific
web/icons/Icon-*.png
web/manifest.json

# Exceptions (Do not ignore)
!.gitignore
!README.md
